body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

header {
    text-align: center;
}

article {
    border: 5px solid black;
    width: 90%;
    height: 250px;
    margin: 10px 0 10px 0;
}

section {
    height: 90%;
}

/* drop-downs */

.div-govfac {
    height: 30%;
    margin-top: 2rem;
}

/* -------------------------------- */

/* flex */

article {
    display: flex;
    justify-content: space-evenly;
}

/* sections */
.selector-govfac {
    flex-basis: 35%
}

.inv-colony {
    flex-basis: 55%;
}

.selector-mineral {
    flex-basis: 55%;
}
.space-cart {
    flex-basis: 35%;
}

/* -------------------------------- */

/* VISUALIZATION BOXES 
section {
    border: 3px red solid;
}
div {
    border: 3px blue solid;
} */

/* -------------------------------- */
